@model IEnumerable<VidlyThirdTime.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@if (!@Model.Any())
{
    <p>we don't have any customer yet</p>
}
else
{ 
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customer</th>
            <th></th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td> @Html.ActionLink(customer.Name, "Details","Customers", new { id = customer.Id },null)</td>
            </tr>
        }
    </table>
}

